[Desktop Entry]
Author=Torsten Grote
AuthorEmail=t ät grobox dot de
Description=A theme for KMail's email headers
FileName=header.html
Name=Modern Headers
ThemeVersion=0.1
